<phpunit bootstrap="test/bootstrap.php"
          colors="true"
          convertErrorsToExceptions="true"
          convertNoticesToExceptions="true"
          convertWarningsToExceptions="true"
          processIsolation="false"
          stopOnFailure="true"
          syntaxCheck="false">

  <testsuites>
    <testsuite name="All test">
      <directory>test</directory>
    </testsuite>
  </testsuites>
</phpunit>